:root {
   /* Light */
   --l-p-bg: #fbfbfb;
   --l-s-bg: #ffffff;
   --l-d-bg: #f3f3f3;
   --l-p-text: #616060;
   --l-s-text: #262626;
   --l-l-sh: rgba(255,255,255,.7);
   --l-d-sh: rgba(0,0,0,.7);
   --l-stoperBorder: #e5e5e5;
   /* Dark */
   --d-p-bg: #1f1f1f;
   --d-s-bg: #262626;
   --d-d-bg: #161616;
   --d-p-text: #ffa800;
   --d-s-text: #d38e05;
   --d-l-sh: #565656;
   --d-d-sh: rgba(0,0,0,.7);
   --d-dd-sh: #111111;
   --d-stoperBorder: rgba(0,0,0,.3);
}
.darkApp {
   color: var(--d-p-text);
   background-color: var(--d-p-bg);
}
/*
   IndexPage
*/
.dIndexPage div {
   background-color: var(--d-s-bg);
   box-shadow: 5px 5px 10px var(--d-d-sh),
               -3px -3px 4px var(--d-l-sh);
}
.dIndexPage button {
   color: var(--d-p-text);
   background-color: var(--d-s-bg);
}
.dIndexPage button:hover {
   background-color: var(--d-d-bg);
   color: var(--d-s-text);
}
.dIndexPage button:hover::after {
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
.dIndexPage button::before {
   box-shadow: 3px 3px 6px var(--d-d-sh),
               -3px -3px 4px var(--d-l-sh);
}
.dIndexPage button::after,
.dIndexPage button:hover::before {
   box-shadow: none;
}
/* 
   MainPage   
*/
/* Stoper */
.DMainPage #Stoper {
   border: 2px solid var(--d-stoperBorder);
}
.DMainPage #Stoper .display {
   background-color: var(--d-d-bg);
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
.DMainPage #Stoper .playBtn,
.DMainPage #Stoper .pauseBtn,
.DMainPage #Stoper .stopBtn{
   color: var(--d-p-text);
}
.DMainPage #Stoper .playBtn {
   border-top: 2px solid var(--d-stoperBorder)
}
.DMainPage #Stoper .pauseBtn {
   background-color: var(--d-p-bg);
   border-top: 2px solid var(--d-stoperBorder);
   border-left: 2px solid var(--d-stoperBorder);
   border-right: 2px solid var(--d-stoperBorder);
}
.DMainPage #Stoper .stopBtn {
   background-color: var(--d-p-bg);
   border-top: 2px solid var(--d-stoperBorder);
}
.DMainPage #Stoper .playBtn:hover,
.DMainPage #Stoper .pauseBtn:hover,
.DMainPage #Stoper .stopBtn:hover {
   background-color: var(--d-d-bg);
   color: var(--d-s-text);
}
.DMainPage #Stoper .playBtn:hover::before,
.DMainPage #Stoper .pauseBtn:hover::before,
.DMainPage #Stoper .stopBtn:hover::before {
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -2px -2px 2px var(--d-l-sh);
}
/* AddTask */
.DMainPage #AddTask .contentNotA {
   background-color: var(--d-p-bg);
}
.DMainPage #AddTask .contentNotA:hover {
   border-bottom: 2px solid var(--d-p-text);
   color: var(--d-s-text);
}
.DMainPage #AddTask .contentNotA:hover::after {
   box-shadow: inset -1px -1px 2px var(--d-l-sh);
}
.DMainPage #AddTask .contentA input{
   background-color: var(--d-d-bg);
   color: var(--d-p-text);
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
   inset -1px -1px 2px var(--d-l-sh);
}
.DMainPage #AddTask .contentA button {
   background-color: var(--d-p-bg);
   color: var(--d-p-text);
   box-shadow: 1px 1px 2px var(--d-d-sh)
}
.DMainPage #AddTask .contentA button:hover {
   background-color: var(--d-d-bg);
}
.DMainPage #AddTask .contentA button:hover::after {
   box-shadow: inset 0px 2px 4px var(--d-d-sh);
}
/* ActiveTask */
.DMainPage #ActiveTask {
   background-color: var(--d-s-bg);
   box-shadow: 2px 2px 4px var(--d-d-sh),
               -1px -1px 2px var(--d-l-sh);
}
.DMainPage #ActiveTask button {
   color: var(--d-p-text);
}
.DMainPage #ActiveTask button:hover {
   color: var(--d-s-text);
}
/* TasksList */
.DMainPage #TasksList {
   border: 2px solid var(--d-stoperBorder);
   background-color: var(--d-d-bg);
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
/* Task */
.DMainPage #Task .btns button i {
   color: var(--d-p-text);
}
.DMainPage #Task .btns button i:hover {
   color: var(--d-s-text);
}
/* DoneTasksList */
.DMainPage #DoneTasksList {
   border: 2px solid var(--d-stoperBorder);
   background-color: var(--d-d-bg);
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
/* SummaryBtn */
.DMainPage #SummaryBtn {
   color: var(--d-p-text);
   background-color: var(--d-s-bg);
}
.DMainPage #SummaryBtn::before {
   box-shadow: 3px 3px 6px var(--d-d-sh),
               -3px -3px 4px var(--d-l-sh);
}
.DMainPage #SummaryBtn:hover {
   background-color:var(--d-d-bg);
   color: var(--d-s-text);
}
.DMainPage #SummaryBtn:hover::after {
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
.DMainPage #SummaryBtn::after,
.DMainPage #SummaryBtn:hover::before {
   box-shadow: none
}
/* 
   SummaryPage
*/
.DSummaryPage #DaySummary,
.DSummaryPage #AdditionalData {
   background-color: var(--d-d-bg);
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
/* ChartBtn */
.DSummaryPage #ChartBtn {
   color: var(--d-p-text);
   background-color: var(--d-s-bg);
}
.DSummaryPage #ChartBtn::before {
   box-shadow: 3px 3px 6px var(--d-d-sh),
               -3px -3px 4px var(--d-l-sh);
}
.DSummaryPage #ChartBtn:hover {
   background-color:var(--d-d-bg);
   color: var(--d-s-text);
}
.DSummaryPage #ChartBtn:hover::after {
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
.DSummaryPage #ChartBtn::after,
.DSummaryPage #ChartBtn:hover::before {
   box-shadow: none
}
/* 
   ChartPage
*/
/* FiltersBtns */
.DChartPage #FilterBtns button {
   color: var(--d-p-text);
   background-color: var(--d-s-bg);
}
.DChartPage #FilterBtns .nActive::before {
   box-shadow: 3px 3px 6px var(--d-d-sh),
               -3px -3px 4px var(--d-l-sh);
}
.DChartPage #FilterBtns .nActive:hover {
   background-color:var(--d-d-bg);
   color: var(--d-s-text);
}
.DChartPage #FilterBtns .nActive:hover::after {
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
.DChartPage #FilterBtns .nActive::after,
.DChartPage #FilterBtns .nActive:hover::before {
   box-shadow: none
}
.DChartPage #FilterBtns .active {
   color: var(--d-s-text);
   background-color: var(--d-d-bg);
}
.DChartPage #FilterBtns .active::before {
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh)
}
.DChartPage #FilterBtns .active:hover {
   background-color:var(--d-p-bg);
   color: var(--d-p-text);
}
.DChartPage #FilterBtns .active::after {
   box-shadow: none
}
/* Chart */
.DChartPage .ChartContainer {
   background-color: var(--d-d-bg);
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
.DChartPage #Chart {
   background-color: var(--d-d-bg);
}
/* BackBtn */
.DChartPage #BackBtn {
   background-color: var(--d-s-bg);
   color: var(--d-p-text);
}
.DChartPage #BackBtn:hover {
   background-color: var(--d-d-bg);
   color: var(--d-s-text);
}
.DChartPage #BackBtn::before {
   box-shadow: 3px 3px 6px var(--d-d-sh),
               -3px -3px 4px var(--d-l-sh);
}
.DChartPage #BackBtn:hover::after {
   box-shadow: inset 2px 2px 4px var(--d-d-sh),
               inset -1px -1px 2px var(--d-l-sh);
}
.DChartPage #BackBtn::after,
.DChartPage #BackBtn:hover::before {
   box-shadow: none;
}